---
import Footer from "@/components/footer.astro";
import Header from "@/components/header.astro";
import Main from "@/components/main/main.astro";
import "@/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="color-scheme" content="light dark" />
    <title>mrdsx</title>
  </head>
  <body>
    <div class="flex min-h-screen justify-center bg-gray-900">
      <div
        class="flex w-[90vw] flex-col items-center pt-10 *:w-full md:w-[80vw]"
      >
        <Header />
        <Main />
        <Footer />
      </div>
    </div>
  </body>
</html>
