---
import About from "./about.astro";
import Projects from "./projects.astro";
import Technologies from "./technologies.astro";
---

<main class="flex flex-col gap-8">
  <About />
  <Technologies />
  <Projects />
</main>
