---
import AstroIcon from "@/components/icons/astro";
import FastAPIIcon from "@/components/icons/fastapi";
import PyTestIcon from "@/components/icons/pytest";
import PythonIcon from "@/components/icons/python";
import ReactIcon from "@/components/icons/react";
import TailwindIcon from "@/components/icons/tailwindcss";
import TypescriptIcon from "@/components/icons/typescript";
import SVGTooltip from "@/components/svg-tooltip";
import {
  Card,
  CardDescription,
  CardFooter,
  CardGithubLink,
  CardHeader,
  CardImage,
  CardPreviewLink,
  CardSkills,
  CardTitle,
} from "@/components/ui/card";
import { getCDNImageURL } from "@/lib/utils";

import styles from "./Main.module.css";

const IMG_HEIGHT = 200;
const ovioImage = getCDNImageURL("ovio_irqhyp", IMG_HEIGHT);
const portfolioImage = getCDNImageURL("portfolio-website_r0cuwy", IMG_HEIGHT);
---

<section class={styles.section}>
  <h2 class={styles.sectionHeading}>Projects</h2>
  <div class="grid grid-cols-1 gap-4 sm:w-fit sm:grid-cols-2">
    <Card>
      <CardHeader>
        <CardImage src={ovioImage} alt="Olympiad Preparation" />
        <CardTitle>Olympiad Preparation</CardTitle>
        <CardDescription>
          Olympiad Preparation is production-ready and actively maintained app,
          developed for preparing to olympiad "ОВИО Наше наследие"
        </CardDescription>
      </CardHeader>
      <CardSkills>
        <SVGTooltip client:visible content="Typescript">
          <TypescriptIcon />
        </SVGTooltip>
        <SVGTooltip client:visible content="TailwindCSS">
          <TailwindIcon />
        </SVGTooltip>
        <SVGTooltip client:visible content="React">
          <ReactIcon />
        </SVGTooltip>
        <SVGTooltip client:visible content="Python">
          <PythonIcon />
        </SVGTooltip>
        <SVGTooltip client:visible content="FastAPI">
          <FastAPIIcon />
        </SVGTooltip>
        <SVGTooltip client:visible content="PyTest">
          <PyTestIcon />
        </SVGTooltip>
      </CardSkills>
      <CardFooter>
        <CardGithubLink />
        <CardPreviewLink previewURL="https://olympiad-preparation.vercel.app" />
      </CardFooter>
    </Card>
    <Card>
      <CardHeader>
        <CardImage src={portfolioImage} alt="Portfolio Website" />
        <CardTitle>Portfolio Website</CardTitle>
        <CardDescription>
          Simple portfolio website for demonstrating technical skills and
          projects
        </CardDescription>
      </CardHeader>
      <CardSkills>
        <SVGTooltip client:visible content="Typescript">
          <TypescriptIcon />
        </SVGTooltip>
        <SVGTooltip client:visible content="TailwindCSS">
          <TailwindIcon />
        </SVGTooltip>
        <SVGTooltip client:visible content="React">
          <ReactIcon />
        </SVGTooltip>
        <SVGTooltip client:visible content="Astro">
          <AstroIcon />
        </SVGTooltip>
      </CardSkills>
      <CardFooter>
        <CardGithubLink
          githubURL="https://github.com/mrdsx/portfolio-website/tree/main/react-astro"
        />
        <CardPreviewLink previewURL="#" />
      </CardFooter>
    </Card>
  </div>
</section>
