---
import Footer from "@/components/footer.astro";
import Header from "@/components/header/header.astro";
import Main from "@/components/main/main.astro";
import "@/globals.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="color-scheme" content="light dark" />
    <title>mrdsx</title>
  </head>
  <body>
    <div class="flex min-h-screen justify-center bg-gray-900">
      <div class="w-[90vw] md:w-[80vw]">
        <Header />
        <Main />
        <Footer />
      </div>
    </div>
  </body>
</html>
